

{% extends 'base.html.twig' %}


{% block title %}Administration : Edition d'une option{% endblock %}

{% block body %}

    

<div class="container">
    <h1>Edition d'une option</h1>

    {{ include('pages/admin/option/_form.html.twig', {button: 'Modifier'}) }}
    
</div>
       
{% endblock %}